.button {
  padding: 10px 15px;
  border-radius: 18px;
  width: fit-content;
  background-color: var(--primary-color);
  display: flex;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  align-items: center;
  transition: background-color 150ms ease;
  margin: 0 5px;

  & * {
    color: #fff;
  }

  &:hover {
    background-color: #4eb7f5;
  }

  &:disabled {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
    cursor: not-allowed;
  }
}

.button-delete {
  background-color: var(--error-color);
  ;
}

.button-save {
  background-color: var(--success-color);
}

.button-cancel {
  background-color: var(--cancel-color);
}

.button-icon {
  border-radius: 100px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-up {
  background-color: var(--purple-color);
}

.button-down {
  background-color: var(--purple-color);
}

.row {
  margin-right: 10px
}