.card {
  border-radius: 10px;
  background-color: #fff;
  margin: 10px;
}

.card-header {
  padding: 18px 24px 10px;
  border-bottom: 1px solid var(--card-header-border-color);
}

.card-content {
  padding: 30px;
  display: flex;
}

.button {
  padding: 10px 15px;
  border-radius: 18px;
  width: fit-content;
  background-color: #3899ec;
  display: flex;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  align-items: center;
  transition: background-color 150ms ease;
  margin: 0 5px;

  & * {
    color: #fff;
  }

  &:hover {
    background-color: #4eb7f5;
  }

  &:disabled {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
    cursor: not-allowed;
  }
}

.button-delete {
  background-color: rgba(255, 0, 0, 0.5);
}

.button-save {
  background-color: rgba(11, 175, 11, 0.7);
}

.button-cancel {
  background-color: rgba(0, 0, 0, 0.5);
}